<!DOCTYPE html>
<html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.7.7/xlsx.core.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xls/0.7.4-a/xls.core.min.js"></script>

    <!-- コンポネントのイベントを管理する -->
    <script src="/js/Action.js"></script>

    <link rel = "stylesheet" type = "text/css" href="css/style.css">

    <!-- <script src="./test.js"  type="module"></script> -->
    <!-- <script type="module" src="./sup.js"></script> -->

</head>

<body>
    <form action="http://localhost:3000/score" method="post">
        <h1>BaseballScoreComparator</h1>
        <p>
            <input type="button" id="button01" class="button" value="moniteringStart" />
            <input type="button" id="button02" class="button" value="seleniumTest" />
            <!-- <a href="#" id="button01">ボタン</a> -->
        </p>
        <!-- <input type="button" id="button01" value="add" /> -->
        <br />
        <br />
        <!--
        <table id="exceltable">
        </table>

        <table id="recoredTable" name="recoredTable" border="1" cellspacing="3">
            <tr>
                <th>Site</th>
                <th>RecoredTime</th>
                <th>TeamA</th>
                <th>ScoreA</th>
                <th>TeamB</th>
                <th>ScoreB</th>
            </tr>
            <tbody></tbody>
        </table>
        <input type="submit" value="submitTableData">
        -->
    </form>
</body>

</html>